body {
    background-color: rgb(247, 247, 247);
    font-family: sans-serif;
}

h1 {
    text-align: left;
    font-family: serif;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 30px;
}

h2 {
    color: #084a9a;
    font-size: 1em;
}

header {
    display: grid;
    justify-content: space-evenly;
}

/******* Layout *******/
.container {
    background-color: rgb(247, 247, 247);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 auto;
}
.container > * {
    grid-column: span 12;
}

.title {
    display: grid;
    justify-content: space-between;
}

/* Desktop Layout */
@media  screen and (min-width: 40rem) {
    .col-span-2 {
        grid-column: span 2;
        justify-self: center;
    }
    .col-span-3 {
        grid-column: span 3;
        justify-content: center;
    }
    .column-3 {
        grid-column-start: 3;
    }

}

/******* Navigation Using Flexbox *******/
nav {
    background-color: rgb(247, 247, 247);
    display: flex;
    justify-content: right;
    position: sticky;
    top: 0;
}

nav ul {
    background-color: aqua;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}

nav li {
    margin: 0 0.5rem;
}

nav a:link, nav a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.125rem;
    padding: 1rem;
    display: block;
}

nav a:hover {
    color: rgb(63, 97, 81);
    text-decoration: underline;
    text-decoration-color: rgb(189, 160, 83);
    transition: 0.25s;
}