body {
    background-color: #f4c2c2;
    margin: 0 10%;
    font-family: sans-serif;
}

h1 {
    text-align: left;
    font-family: serif;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 1px solid #57b1dc;
    margin-top: 30px;
}

h2 {
    color: #084a9a;
    font-size: 1em;
}

/******* Layout *******/
.container {
    background-color: rgb(247, 247, 247);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 auto;
}
.container > * {
    grid-column: span 12;
}

/* Desktop Layout */
@media  screen and (min-width: 40rem) {
    .col-span-2 {
        grid-column: span 2;
    }
    .col-span-3 {
        grid-column: span 3;
    }
}