body {
    margin: 0 10%;
    font-family: sans-serif;
    background-image: radial-gradient(circle, rgba(0,212,255,0.7525603991596639) 0%, rgba(9,9,121,0.43323266806722693) 100%, rgba(2,0,36,1) 100%), url("../moroccan-flower-dark.png");
    back

}

header {
    background-color: #3ae1fb;
    color: white;
    padding: 2rem;
}

h1 {
    font-size: 2rem;
    color: #000000;
}

h2 {
   font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

.circle {
    border-radius: 50%;
    border: 5px solid #3ae1fb;
}